@{
    ViewBag.Title = "Funcionarios";
    Layout = "~/Areas/RecursosHumanos/Views/Shared/_LayoutRecursosHumanos.cshtml";
}
<br />
<h2>Funcionários</h2>
<br />
<p>
    @Html.ActionLink("Cadastrar funcionário", "CadastrarFuncionario", new { area = "RecursosHumanos" }, null)
</p>
<div id="grid-funcionarios">
    @{
        Html.RenderAction("GridFuncionarios", "Home", new { area = "RecursosHumanos" });
    }
</div>
<script>
    function excluir(id) {
        var r = confirm('Confirma exclusão?');
        if (r) {
            var url = '@Url.Action("DeletarFuncionario", "Home", new { area = "RecursosHumanos" })/' + id;
            window.location.href = url;
        }
    }
</script>