@{
    ViewBag.Title = "Pagamentos";
    Layout = "~/Areas/RecursosHumanos/Views/Shared/_LayoutRecursosHumanos.cshtml";
}
<br />
<h2>Pagamentos</h2>
<br />
<p>
    @Html.ActionLink("Realizar pagamento", "RealizarPagamento", "Home", new { area = "RecursosHumanos" }, null)
</p>
<div id="grid-pagamentos">
    @{
        Html.RenderAction("GridPagamentos", "Home", new { area = "RecursosHumanos" });
    }
</div>